.footer {
    /* Rectangle 11 */

position: absolute;
width: 1200px;
height: 199px;
left: 0px;
top: 2137px;

background: #464547;

}

.block_project {
    /* PROJECT */

position: absolute;
width: 92px;
height: 16px;
left: 189px;
top: 2176px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
/* identical to box height, or 89% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


}



