.block_PRO {
    /* PROJECT */

position: absolute;
width: 91px;
height: 16px;
left: 152px;
top: 45px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
/* identical to box height, or 80% */
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;


}

.block_text1 {
    /* PROJECTS */

position: absolute;
width: 81px;
height: 16px;
left: 408px;
top: 49px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


}

.block_text2 {
    /* ABOUT US */

position: absolute;
width: 81px;
height: 16px;
left: 521px;
top: 49px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


}

.block_text3 {
    /* STORIES */

position: absolute;
width: 67px;
height: 16px;
left: 631px;
top: 49px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


}

.block_text4 {
    /* CONTACT */

position: absolute;
width: 73px;
height: 16px;
left: 730px;
top: 49px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;


}

