.header {
    /* Desktop_Backgrounds_1920x1200_6 3 */

position: absolute;
width: 1315px;
height: 822px;
left: -115px;
top: 0px;

background: url(/src/assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg);

}

.block_headline1 {
    /* Your Headline Here */

position: absolute;
width: 386px;
height: 118px;
left: 408px;
top: 350px;

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;

color: #FFFFFF;



}

.block_lorem {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */

position: absolute;
width: 426px;
height: 56px;
left: 388px;
top: 510px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

color: rgba(255, 255, 255, 0.7);


}

.block_logo1 {
    position: absolute;
width: 63px;
height: 63px;
left: 570px;
top: 274px;
}