

.block_headline2 {
    /* This is the Section Headline, Continues to Two Lines */

position: absolute;
width: 669px;
height: 119px;
left: 264px;
top: 888px;

font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;

color: #464547;


}

.block_lorem2 {
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod. */

position: absolute;
width: 426px;
height: 57px;
left: 386px;
top: 1046px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
/* or 133% */
text-align: center;

color: #666666;


}

.block_continuous {
    /* Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis. */

position: absolute;
width: 408px;
height: 172px;
left: 149px;
top: 1148px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

color: #666666;


}

.block_continuous2 {
    /* Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. */

position: absolute;
width: 416px;
height: 172px;
left: 640px;
top: 1148px;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

color: #666666;


}

.block_button_box {
    position: absolute;
width: 115px;
height: 36px;
left: 541px;
top: 1366px;
}

.block_button {
    /* READ MORE */

font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* or 186% */
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;

background: #55C2D8;
border-radius: 18px;


}


